n8n-project/stock_orchestrator_workflow_MSFT.json
{
  "name": "MSFT",
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1540,
        320
      ],
      "id": "86ff5f56-9480-4d78-8446-6a5a49133357",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1540,
        -55
      ],
      "id": "3dc6b193-c66b-4272-906b-0d548b748330",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1760,
        -55
      ],
      "id": "7fc45db3-9f5c-4f10-8921-5a729fd5ba41",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1540,
        945
      ],
      "id": "c4856bb3-16fe-4919-9f7f-594a0836689d",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1760,
        945
      ],
      "id": "5a6df45a-ce42-49c8-bc8a-577121b2e1b5",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "=/Apps/bt_db/financial_data_aggregator_output_forward/MSFT_TA_{{ $json.counter }}.csv"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1320,
        945
      ],
      "id": "3001d639-5074-439f-8e9c-d6ca3fe6eedd",
      "name": "Dropbox",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "=/Apps/bt_db/financial_data_aggregator_output_forward/MSFT_NEWS_{{ $json.counter }}.csv"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1320,
        320
      ],
      "id": "08404e5f-b9c3-4bb3-8d0b-95928f14957b",
      "name": "Dropbox1",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "=/Apps/bt_db/financial_data_aggregator_output_forward/MSFT_{{ $json.counter }}.csv"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1320,
        -55
      ],
      "id": "0c984bb6-bfd9-4eee-9211-8f2101b1d5af",
      "name": "Dropbox2",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Previous analysis: {{ $json.data[0].data }}\n\nFundamental data:\n• Symbol: {{ $json.data[1].data[0].Symbol }}\n• Asset Type: {{ $json.data[1].data[0].AssetType }}\n• Name: {{ $json.data[1].data[0].Name }}\n• Description: {{ $json.data[1].data[0].Description }}\n• CIK: {{ $json.data[1].data[0].CIK }}\n• Exchange: {{ $json.data[1].data[0].Exchange }}\n• Currency: {{ $json.data[1].data[0].Currency }}\n• Country: {{ $json.data[1].data[0].Country }}\n• Sector: {{ $json.data[1].data[0].Sector }}\n• Industry: {{ $json.data[1].data[0].Industry }}\n• Address: {{ $json.data[1].data[0].Address }}\n• Official Site: {{ $json.data[1].data[0].OfficialSite }}\n• Fiscal Year End: {{ $json.data[1].data[0].FiscalYearEnd }}\n• Latest Quarter: {{ $json.data[1].data[0].LatestQuarter }}\n• Market Capitalization: {{ $json.data[1].data[0].MarketCapitalization }}\n• EBITDA: {{ $json.data[1].data[0].EBITDA }}\n• P/E Ratio: {{ $json.data[1].data[0].PERatio }}\n• PEG Ratio: {{ $json.data[1].data[0].PEGRatio }}\n• Book Value: {{ $json.data[1].data[0].BookValue }}\n• Dividend Per Share: {{ $json.data[1].data[0].DividendPerShare }}\n• Dividend Yield: {{ $json.data[1].data[0].DividendYield }}\n• EPS: {{ $json.data[1].data[0].EPS }}\n• Revenue Per Share (TTM): {{ $json.data[1].data[0].RevenuePerShareTTM }}\n• Profit Margin: {{ $json.data[1].data[0].ProfitMargin }}\n• Operating Margin (TTM): {{ $json.data[1].data[0].OperatingMarginTTM }}\n• Return on Assets (TTM): {{ $json.data[1].data[0].ReturnOnAssetsTTM }}\n• Return on Equity (TTM): {{ $json.data[1].data[0].ReturnOnEquityTTM }}\n• Revenue (TTM): {{ $json.data[1].data[0].RevenueTTM }}\n• Gross Profit (TTM): {{ $json.data[1].data[0].GrossProfitTTM }}\n• Diluted EPS (TTM): {{ $json.data[1].data[0].DilutedEPSTTM }}\n• Quarterly Earnings Growth YOY: {{ $json.data[1].data[0].QuarterlyEarningsGrowthYOY }}\n• Quarterly Revenue Growth YOY: {{ $json.data[1].data[0].QuarterlyRevenueGrowthYOY }}\n• Analyst Target Price: {{ $json.data[1].data[0].AnalystTargetPrice }}\n• Trailing P/E: {{ $json.data[1].data[0].TrailingPE }}\n• Forward P/E: {{ $json.data[1].data[0].ForwardPE }}\n• Price-to-Sales (TTM): {{ $json.data[1].data[0].PriceToSalesRatioTTM }}\n• Price-to-Book Ratio: {{ $json.data[1].data[0].PriceToBookRatio }}\n• EV/Revenue: {{ $json.data[1].data[0].EVToRevenue }}\n• EV/EBITDA: {{ $json.data[1].data[0].EVToEBITDA }}\n• Beta: {{ $json.data[1].data[0].Beta }}\n• Shares Outstanding: {{ $json.data[1].data[0].SharesOutstanding }}\n• Dividend Date: {{ $json.data[1].data[0].DividendDate }}\n• Ex-Dividend Date: {{ $json.data[1].data[0].ExDividendDate }}\n• Fiscal Date Ending: {{ $json.data[1].data[0].fiscalDateEnding }}\n• Reported Currency: {{ $json.data[1].data[0].reportedCurrency }}\n• Gross Profit: {{ $json.data[1].data[0].grossProfit }}\n• Total Revenue: {{ $json.data[1].data[0].totalRevenue }}\n• Cost of Revenue: {{ $json.data[1].data[0].costOfRevenue }}\n• Cost of Goods Sold: {{ $json.data[1].data[0].costofGoodsAndServicesSold }}\n• Operating Income: {{ $json.data[1].data[0].operatingIncome }}\n• Selling, General & Administrative: {{ $json.data[1].data[0].sellingGeneralAndAdministrative }}\n• Research & Development: {{ $json.data[1].data[0].researchAndDevelopment }}\n• Operating Expenses: {{ $json.data[1].data[0].operatingExpenses }}\n• Investment Income Net: {{ $json.data[1].data[0].investmentIncomeNet }}\n• Net Interest Income: {{ $json.data[1].data[0].netInterestIncome }}\n• Interest Income: {{ $json.data[1].data[0].interestIncome }}\n• Interest Expense: {{ $json.data[1].data[0].interestExpense }}\n• Non-Interest Income: {{ $json.data[1].data[0].nonInterestIncome }}\n• Other Non-Operating Income: {{ $json.data[1].data[0].otherNonOperatingIncome }}\n• Depreciation: {{ $json.data[1].data[0].depreciation }}\n• Depreciation & Amortization: {{ $json.data[1].data[0].depreciationAndAmortization }}\n• Income Before Tax: {{ $json.data[1].data[0].incomeBeforeTax }}\n• Income Tax Expense: {{ $json.data[1].data[0].incomeTaxExpense }}\n• Interest & Debt Expense: {{ $json.data[1].data[0].interestAndDebtExpense }}\n• Net Income from Continuing Ops: {{ $json.data[1].data[0].netIncomeFromContinuingOperations }}\n• Comprehensive Income Net of Tax: {{ $json.data[1].data[0].comprehensiveIncomeNetOfTax }}\n• EBIT: {{ $json.data[1].data[0].ebit }}\n• EBITDA: {{ $json.data[1].data[0].ebitda }}\n• Net Income: {{ $json.data[1].data[0].netIncome }}\n• Total Assets: {{ $json.data[1].data[0].totalAssets }}\n• Total Current Assets: {{ $json.data[1].data[0].totalCurrentAssets }}\n• Cash & Cash Equivalents: {{ $json.data[1].data[0].cashAndCashEquivalentsAtCarryingValue }}\n• Cash & Short-Term Investments: {{ $json.data[1].data[0].cashAndShortTermInvestments }}\n• Inventory: {{ $json.data[1].data[0].inventory }}\n• Current Net Receivables: {{ $json.data[1].data[0].currentNetReceivables }}\n• Total Non-Current Assets: {{ $json.data[1].data[0].totalNonCurrentAssets }}\n• Property, Plant & Equipment: {{ $json.data[1].data[0].propertyPlantEquipment }}\n• Accumulated Depreciation PPE: {{ $json.data[1].data[0].accumulatedDepreciationAmortizationPPE }}\n• Intangible Assets: {{ $json.data[1].data[0].intangibleAssets }}\n• Intangible Assets Excl. Goodwill: {{ $json.data[1].data[0].intangibleAssetsExcludingGoodwill }}\n• Goodwill: {{ $json.data[1].data[0].goodwill }}\n• Investments: {{ $json.data[1].data[0].investments }}\n• Long-Term Investments: {{ $json.data[1].data[0].longTermInvestments }}\n• Short-Term Investments: {{ $json.data[1].data[0].shortTermInvestments }}\n• Other Current Assets: {{ $json.data[1].data[0].otherCurrentAssets }}\n• Other Non-Current Assets: {{ $json.data[1].data[0].otherNonCurrentAssets }}\n• Total Liabilities: {{ $json.data[1].data[0].totalLiabilities }}\n• Total Current Liabilities: {{ $json.data[1].data[0].totalCurrentLiabilities }}\n• Current Accounts Payable: {{ $json.data[1].data[0].currentAccountsPayable }}\n• Deferred Revenue: {{ $json.data[1].data[0].deferredRevenue }}\n• Current Debt: {{ $json.data[1].data[0].currentDebt }}\n• Short-Term Debt: {{ $json.data[1].data[0].shortTermDebt }}\n• Total Non-Current Liabilities: {{ $json.data[1].data[0].totalNonCurrentLiabilities }}\n• Capital Lease Obligations: {{ $json.data[1].data[0].capitalLeaseObligations }}\n• Long-Term Debt: {{ $json.data[1].data[0].longTermDebt }}\n• Current Long-Term Debt: {{ $json.data[1].data[0].currentLongTermDebt }}\n• Long-Term Debt Non-Current: {{ $json.data[1].data[0].longTermDebtNoncurrent }}\n• Short+Long-Term Debt Total: {{ $json.data[1].data[0].shortLongTermDebtTotal }}\n• Other Current Liabilities: {{ $json.data[1].data[0].otherCurrentLiabilities }}\n• Other Non-Current Liabilities: {{ $json.data[1].data[0].otherNonCurrentLiabilities }}\n• Total Shareholder Equity: {{ $json.data[1].data[0].totalShareholderEquity }}\n• Treasury Stock: {{ $json.data[1].data[0].treasuryStock }}\n• Retained Earnings: {{ $json.data[1].data[0].retainedEarnings }}\n• Common Stock: {{ $json.data[1].data[0].commonStock }}\n• Common Stock Shares Outstanding: {{ $json.data[1].data[0].commonStockSharesOutstanding }}\n• Operating Cash Flow: {{ $json.data[1].data[0].operatingCashflow }}\n• Payments for Operating Activities: {{ $json.data[1].data[0].paymentsForOperatingActivities }}\n• Proceeds from Operating Activities: {{ $json.data[1].data[0].proceedsFromOperatingActivities }}\n• Change in Operating Liabilities: {{ $json.data[1].data[0].changeInOperatingLiabilities }}\n• Change in Operating Assets: {{ $json.data[1].data[0].changeInOperatingAssets }}\n• Depreciation, Depletion & Amortization: {{ $json.data[1].data[0].depreciationDepletionAndAmortization }}\n• Capital Expenditures: {{ $json.data[1].data[0].capitalExpenditures }}\n• Change in Receivables: {{ $json.data[1].data[0].changeInReceivables }}\n• Change in Inventory: {{ $json.data[1].data[0].changeInInventory }}\n• Profit/Loss: {{ $json.data[1].data[0].profitLoss }}\n• Cash Flow from Investment: {{ $json.data[1].data[0].cashflowFromInvestment }}\n• Cash Flow from Financing: {{ $json.data[1].data[0].cashflowFromFinancing }}\n• Proceeds from Repayments of Short-Term Debt: {{ $json.data[1].data[0].proceedsFromRepaymentsOfShortTermDebt }}\n• Payments for Repurchase of Common Stock: {{ $json.data[1].data[0].paymentsForRepurchaseOfCommonStock }}\n• Payments for Repurchase of Equity: {{ $json.data[1].data[0].paymentsForRepurchaseOfEquity }}\n• Payments for Repurchase of Preferred Stock: {{ $json.data[1].data[0].paymentsForRepurchaseOfPreferredStock }}\n• Dividend Payout: {{ $json.data[1].data[0].dividendPayout }}\n• Dividend Payout Common Stock: {{ $json.data[1].data[0].dividendPayoutCommonStock }}\n• Dividend Payout Preferred Stock: {{ $json.data[1].data[0].dividendPayoutPreferredStock }}\n• Proceeds from Issuance of Common Stock: {{ $json.data[1].data[0].proceedsFromIssuanceOfCommonStock }}\n• Proceeds from Issuance of Long-Term Debt & Capital Securities: {{ $json.data[1].data[0].proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet }}\n• Proceeds from Issuance of Preferred Stock: {{ $json.data[1].data[0].proceedsFromIssuanceOfPreferredStock }}\n• Proceeds from Repurchase of Equity: {{ $json.data[1].data[0].proceedsFromRepurchaseOfEquity }}\n• Proceeds from Sale of Treasury Stock: {{ $json.data[1].data[0].proceedsFromSaleOfTreasuryStock }}\n• Change in Cash and Cash Equivalents: {{ $json.data[1].data[0].changeInCashAndCashEquivalents }}\n• Change in Exchange Rate: {{ $json.data[1].data[0].changeInExchangeRate }}\n• Reported EPS: {{ $json.data[1].data[0].reportedEPS }}\n\n\n",
        "options": {
          "systemMessage": "{\n  \"instruction\": \"You are a seasoned financial analyst with expertise in parsing CSV-formatted annual financial data to deliver high-impact fundamental company evaluations.\",\n  \"context\": \"The CSV file includes: Company overview and business description; Key valuation and performance ratios (P/E ratio, profit margin, ROE, etc.); Most recent annual financial statements (income statement, balance sheet, cash flow); Latest earnings per share (EPS). Treat missing values as “not available” and assume all figures are in USD and annual.\",\n  \"output\": \"Produce a concise fundamental analysis in exactly five sentences, structured under these subheadings: 1. Business Model & Market Position; 2. Financial Strengths & Weaknesses; 3. Trends in Profitability, Liquidity & Solvency; 4. Valuation Assessment (fairly valued, overvalued, or undervalued based on P/E and ROE); 5. Investment Outlook (bullish, neutral, or bearish and why).\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2420,
        -380
      ],
      "id": "ab2c965b-aa27-4f03-b0ab-ed1b1cd4ad89",
      "name": "Fundamental Analyst"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Previous bull analysis: {{ $json.data[0].data }}\nSummaries: {{ $json.data[1].text }}",
        "options": {
          "systemMessage": "You are a financial news analyst whose role is to make a bullish short-term case (next 5–7 trading days) for a specific stock based on recent news articles.\n\nYou will receive a list of summarized news articles. From these, extract and highlight positive developments, sentiment, or market-moving events that could support a rise in the stock price.\n\nYour task is to:\n\nIdentify and summarize any favorable events, product launches, earnings surprises, partnerships, regulatory wins, or analyst upgrades\n\nAssess whether market sentiment appears optimistic or improving\n\nEmphasize why these factors may have a short-term upward impact on price\n\nIgnore or downplay neutral or negative signals unless necessary for context\n\nYour output should include:\n\nA short list (2–3 bullets) of the most supportive headlines or developments\n\nA summary statement explaining why these developments are likely to lead to positive price action this week\n\nA bullish short-term sentiment rating (e.g., Strongly Bullish, Moderately Bullish, Cautiously Bullish). Always answer in five sentences."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3456,
        20
      ],
      "id": "52bc80c3-6794-482b-8e6e-19b5353c8f1b",
      "name": "Bull analyst"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Previous bear analysis: {{ $json.data[0].data }}\nSummaries: {{ $json.data[1].text }}",
        "options": {
          "systemMessage": "{\n  \"instruction\": \"You are a financial news analyst whose role is to make a bearish short-term case (next 5–7 trading days) for a specific stock based on recent news articles.\",\n  \"context\": \"You will receive a list of summarized news articles. From these, extract and highlight negative developments, risks, or market sentiment that could lead to downward pressure on the stock. Ignore or downplay positive news unless necessary for contrast.\",\n  \"input\": \"An array of 50 summarized news articles from the current week\",\n  \"output\": \"• A short list (2–3 bullets) of the most concerning or negative headlines\\n• A summary statement explaining why these developments are likely to lead to negative price action this week\\n• A bearish short-term sentiment rating (Strongly Bearish, Moderately Bearish, or Cautiously Bearish)\\n\\nUse exactly five sentences in total.\"\n}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3456,
        570
      ],
      "id": "b162f5f1-fc2b-422b-99f7-1aff7771709c",
      "name": "Bear analyst"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "{\n  \"instruction\": \"You are a technical trading strategist agent. Your job is to analyze the provided technical indicator data and deliver a single price target for the end of the next trading week, along with a buy, hold, or sell recommendation.\",\n  \"context\": \"You will receive a CSV table of daily technical indicators for a stock, including:\\n\\n• RSI (Relative Strength Index): you know that RSI above 70 signals overbought conditions and potential pullback, RSI below 30 signals oversold conditions and potential rebound. Readings between 50–70 suggest bullish momentum, while readings between 30–50 suggest bearish momentum.\\n\\n• MACD (Moving Average Convergence Divergence) and its signal line: you understand that when the MACD line crosses above its signal line, it indicates bullish momentum and a buy signal; when it crosses below, it indicates bearish momentum and a sell signal. You also recognize divergences between price and MACD as early reversal clues, and you interpret the MACD histogram’s expansion/contraction as momentum strength.\\n\\n• Bollinger Bands (upper and lower): you know that price touching or breaking the upper band can indicate overbought conditions, while touching or breaking the lower band can indicate oversold conditions. You interpret a Bollinger Band “squeeze” (narrow band width) as a period of low volatility often followed by a strong directional breakout, and an expanding band width as confirmation of a volatility breakout.\\n\\n• Volume: you recognize that rising volume accompanying price moves confirms the strength of the move, while divergences (e.g., price rising on falling volume) warn of potential exhaustion. You also watch for volume spikes that may mark capitulation or institutional activity.\",\n  \"input\": \"A CSV file or array of objects with columns: date, close, RSI, MACD, MACD_signal, Bollinger_middle, Bollinger_upper, Bollinger_lower, volume.\",\n  \"output\": \"Provide exactly two items:\\n1. A single numerical percentage gain/ loss traget for the stock at the close of the coming trading week.\\n2. A clear recommendation: BUY, HOLD, or SELL, with a short rationale referencing the key technical signals.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2420,
        970
      ],
      "id": "eddfc622-c395-40b6-8fa5-71dfa27faec2",
      "name": "Technical analyst"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1980,
        320
      ],
      "id": "3da696bb-3fa8-4501-9e32-91cb61c680b3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output2",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1980,
        520
      ],
      "id": "16411466-7c79-46f8-8cb9-0e3e8ede8792",
      "name": "Split Out1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2498,
        320
      ],
      "id": "c1c1b022-2915-4e69-a7e8-ba560c7e991c",
      "name": "Merge"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3832,
        49
      ],
      "id": "49873e5d-dc51-45bb-b158-0ce492746cb8",
      "name": "Analyst merger"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3544,
        240
      ],
      "id": "58f92ac7-75e3-47a3-a23d-dfa0e4b3c390",
      "name": "Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "uTsz7TkqIJt7gW5q",
          "name": "Google Gemini Paid API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2508,
        -160
      ],
      "id": "c641724b-8538-4839-8033-e1d0f05c1b5f",
      "name": "Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "uTsz7TkqIJt7gW5q",
          "name": "Google Gemini Paid API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3540,
        800
      ],
      "id": "602abd5a-7a7a-4a57-b0d4-bfd9d34404c9",
      "name": "Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "uTsz7TkqIJt7gW5q",
          "name": "Google Gemini Paid API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2508,
        1190
      ],
      "id": "eb4759ac-a3fa-4aa1-bfe6-23523cbe413c",
      "name": "Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "uTsz7TkqIJt7gW5q",
          "name": "Google Gemini Paid API"
        }
      }
    },
    {
      "parameters": {
        "instructions": "Transform all outputs given to you into one single text.",
        "codeGeneratedForPrompt": "Transform all outputs given to you into one single text.",
        "jsCode": "const items = $input.all();\nconst text = items.map((item) => item?.json?.output).join(\"\\n\");\nreturn { text };\n"
      },
      "type": "n8n-nodes-base.aiTransform",
      "typeVersion": 1,
      "position": [
        2796,
        320
      ],
      "id": "86a82d70-1473-4353-b117-f2628ce98cc2",
      "name": "Transformer Node2"
    },
    {
      "parameters": {
        "instructions": "Please split half of the items provided to output 1 and the other half to output 2",
        "codeGeneratedForPrompt": "Please split half of the items provided to output 1 and the other half to output 2",
        "jsCode": "const items = $input.all();\nconst half = Math.ceil(items.length / 2);\n\nconst output1 = items.slice(0, half);\nconst output2 = items.slice(half);\n\nreturn { output1, output2 };\n"
      },
      "type": "n8n-nodes-base.aiTransform",
      "typeVersion": 1,
      "position": [
        1760,
        320
      ],
      "id": "f85c8560-f522-42f1-993e-dd2f360cfc4b",
      "name": "Transformer Node1"
    },
    {
      "parameters": {
        "instructions": "Transform all outputs given to you into one single text.",
        "codeGeneratedForPrompt": "Transform all outputs given to you into one single text.",
        "jsCode": "const items = $input.all();\nconst text = items.map((item) => item?.json?.output).join(\"\\n\");\nreturn { text };\n"
      },
      "type": "n8n-nodes-base.aiTransform",
      "typeVersion": 1,
      "position": [
        4052,
        70
      ],
      "id": "9682706b-68e6-4e7e-b41f-373e1274e3d3",
      "name": "Transformer Node3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZRGfOqd08zNziOcg",
          "mode": "list",
          "cachedResultName": "Bachelor thesis — MSFT Summary Analyst I"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2200,
        320
      ],
      "id": "f101151b-8aa6-4697-95c0-b2f90ffd7daa",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6HHuI8BuITaOU4lo",
          "mode": "list",
          "cachedResultName": "Bachelor thesis — MSFT Summary Analyst II"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2200,
        520
      ],
      "id": "9d7921b5-893c-4edb-8163-53394af506a9",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "{\n  \"instruction\": \"You are a stock synthesis agent tasked with integrating insights from four specialized analyses to produce a unified outlook and one-week expected return.\",\n  \"context\": \"You will receive outputs from four preceding agents:\\n• Fundamental analysis: concise key strengths, weaknesses, and valuation view.\\n• Technical analysis: chart patterns, trend signals, and momentum assessment.\\n• Bull case: most supportive recent news developments and bullish sentiment rating.\\n• Bear case: most concerning recent news developments and bearish sentiment rating.\",\n  \"input\": {\n    \"fundamental\": { \"summary\": \"string\" },\n    \"technical\": { \"summary\": \"string\" },\n    \"bull_case\": { \"bullets\": [\"string\"], \"summary\": \"string\", \"sentiment\": \"string\" },\n    \"bear_case\": { \"bullets\": [\"string\"], \"summary\": \"string\", \"sentiment\": \"string\" }\n  },\n  \"output\": \"Provide:\\n1. A cohesive one-paragraph synthesis highlighting how fundamental and technical factors combine with bullish and bearish news to shape the outlook.\\n2. A balanced assessment of risks and catalysts.\\n3. A single numeric expected return for the next 5–7 trading days (as a percentage).\\nAnswer in plain text, with the expected return clearly stated at the end.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4272,
        70
      ],
      "id": "09346bb6-452d-4099-9c22-01b3d1814875",
      "name": "Stock Synthesis Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4360,
        290
      ],
      "id": "ee38584a-4b2f-4bb6-898c-67340e3546d1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uTsz7TkqIJt7gW5q",
          "name": "Google Gemini Paid API"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1100,
        309.5
      ],
      "id": "855eeb2f-e42d-43cc-903a-b31a62954152",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "=/Apps/bt_db/agents_output_forward/MSFT_{{ $json.counter -1 }}.txt"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1540,
        -280
      ],
      "id": "232797bb-5c3b-47a8-933b-ac700961962c",
      "name": "Dropbox4",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1760,
        -280
      ],
      "id": "ccface39-85a4-4e73-ad89-b0b2a8600bad",
      "name": "Extract from File3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1980,
        -280
      ],
      "id": "cfcd9a97-52b0-48c8-b3d2-2ca4c9465a1a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2200,
        -280
      ],
      "id": "b804785e-2842-4e5f-8a53-04a6b64b85b5",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/Apps/bt_db/agents_output_forward/MSFT_{{ $('When Executed by Another Workflow').item.json.counter }}.txt",
        "fileContent": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        2796,
        -280
      ],
      "id": "c99d0c84-411a-4312-aeb1-cd386106fbab",
      "name": "Dropbox5",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "=/Apps/bt_db/agents_output_forward/MSFT_BULL_{{ $json.counter -1 }}.txt"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        2500,
        120
      ],
      "id": "55c2bbbe-0828-4bae-b505-7070ff40f787",
      "name": "Dropbox6",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2796,
        120
      ],
      "id": "64c92618-4ab1-47ff-a194-59329fd55e06",
      "name": "Extract from File4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3016,
        120
      ],
      "id": "f8537b0a-f3df-4a86-a8bf-4d5c2f501a3e",
      "name": "Merge2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3236,
        120
      ],
      "id": "92bb5736-d226-41b7-a5f6-03b3d0130b4b",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "=/Apps/bt_db/agents_output_forward/MSFT_BEAR_{{ $json.counter -1 }}.txt"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        2500,
        680
      ],
      "id": "a3db196c-75e8-4561-aaa0-49e1f5ab6401",
      "name": "Dropbox7",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2796,
        670
      ],
      "id": "3248eef3-74cc-4c11-8d06-94c44e757294",
      "name": "Extract from File5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3016,
        570
      ],
      "id": "9fc2194f-2d8f-45eb-8d74-653ed76cde71",
      "name": "Merge3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3236,
        570
      ],
      "id": "f0f4bc6f-3c90-4331-8171-7b91bee49284",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/Apps/bt_db/agents_output_forward/MSFT_BULL_{{ $('When Executed by Another Workflow').item.json.counter }}.txt",
        "fileContent": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        3840,
        480
      ],
      "id": "737de03c-c5af-4c13-b4ec-94e0dd63d5cc",
      "name": "Dropbox8",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/Apps/bt_db/agents_output_forward/MSFT_BEAR_{{ $('When Executed by Another Workflow').item.json.counter }}.txt",
        "fileContent": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        3840,
        880
      ],
      "id": "1c0b8301-35cc-417c-9e97-dc9dc673e2e9",
      "name": "Dropbox9",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "=/Apps/bt_db/agents_output_forward/MSFT_TA_{{ $json.counter -1 }}.txt"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1540,
        1170
      ],
      "id": "d33b58f5-8469-4006-8c89-2d4ea8022e36",
      "name": "Dropbox10",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1760,
        1170
      ],
      "id": "f70eba43-3742-4121-9bc1-5f099e0dcd31",
      "name": "Extract from File6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1980,
        970
      ],
      "id": "9aa933c8-801e-4a31-8265-6a096e25a071",
      "name": "Merge4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2200,
        970
      ],
      "id": "3fdae0ca-7764-4acf-b8c8-e45bd76b5ad1",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/Apps/bt_db/agents_output_forward/MSFT_TA_{{ $('When Executed by Another Workflow').item.json.counter }}.txt",
        "fileContent": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        2800,
        1120
      ],
      "id": "bd656c3f-cdb5-42a8-8070-5c288cb66aea",
      "name": "Dropbox11",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3016,
        -280
      ],
      "id": "a393e8db-5b53-4de8-a48b-6f2a2068b29a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4052,
        470
      ],
      "id": "c7f8b1d9-4006-4757-b4f5-fc48ef87ee28",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4052,
        870
      ],
      "id": "0f8fbd9d-c8b6-4ed1-86ea-fb903defd6fd",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3016,
        1120
      ],
      "id": "32ececfb-c238-44f6-ad72-02625b53b68e",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/Apps/bt_db/agents_output_forward/MSFT_ANALYSIS_{{ $('When Executed by Another Workflow').first().json.counter }}.txt",
        "fileContent": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        4640,
        -20
      ],
      "id": "1e5acaa7-255e-4c07-a180-0dd1466bb8ca",
      "name": "Dropbox3",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "Please analyze the user message and give as output solely the expected return (Format: e.g. 0.010 instead of 1%)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4640,
        180
      ],
      "id": "b7423ef3-2d4c-4caf-9c03-96b67b080bcc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4680,
        400
      ],
      "id": "c7a598fc-699f-4508-9b88-4b8799721589",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "uTsz7TkqIJt7gW5q",
          "name": "Google Gemini Paid API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/Apps/bt_db/agents_output_forward/MSFT_PREDICTED_RETURN_{{ $('When Executed by Another Workflow').first().json.counter }}.txt",
        "fileContent": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        5000,
        180
      ],
      "id": "2ae9bcf0-922b-4a17-bf03-b4d4fd57a0b6",
      "name": "Dropbox12",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "MUDog7C52B7LiryO",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5200,
        180
      ],
      "id": "0ce8fd0e-ccb4-4e5c-86b9-2617fec03d50",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4860,
        -20
      ],
      "id": "235cc581-77b3-4340-a08c-78875c3ccbba",
      "name": "No Operation, do nothing4"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "counter": 1
        }
      }
    ]
  },
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Transformer Node1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Dropbox": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox2": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fundamental Analyst": {
      "main": [
        [
          {
            "node": "Analyst merger",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dropbox5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bull analyst": {
      "main": [
        [
          {
            "node": "Analyst merger",
            "type": "main",
            "index": 1
          },
          {
            "node": "Dropbox8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bear analyst": {
      "main": [
        [
          {
            "node": "Analyst merger",
            "type": "main",
            "index": 2
          },
          {
            "node": "Dropbox9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Technical analyst": {
      "main": [
        [
          {
            "node": "Analyst merger",
            "type": "main",
            "index": 3
          },
          {
            "node": "Dropbox11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Transformer Node2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyst merger": {
      "main": [
        [
          {
            "node": "Transformer Node3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Bull analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini1": {
      "ai_languageModel": [
        [
          {
            "node": "Fundamental Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini2": {
      "ai_languageModel": [
        [
          {
            "node": "Bear analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini3": {
      "ai_languageModel": [
        [
          {
            "node": "Technical analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transformer Node2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Transformer Node1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformer Node3": {
      "main": [
        [
          {
            "node": "Stock Synthesis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Stock Synthesis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Dropbox1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dropbox2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dropbox4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dropbox",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dropbox6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dropbox7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dropbox10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox4": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Fundamental Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox6": {
      "main": [
        [
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox7": {
      "main": [
        [
          {
            "node": "Extract from File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File5": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Bull analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Bear analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox10": {
      "main": [
        [
          {
            "node": "Extract from File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File6": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Technical analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox8": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox9": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox11": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stock Synthesis Agent": {
      "main": [
        [
          {
            "node": "Dropbox3",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Dropbox12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox12": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c5b3ad80-e16f-442a-b8a8-e19f91a36be7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ae2c89981039340d829937460d45406e20e1fe8706abd573e37b0e7483da8c4"
  },
  "id": "MssUQo02Gy6bwuh1",
  "tags": []
}