n8n-project/summary_analyst_workflow_MSFT_II.json
{
  "name": "MSFT Summary Analyst II",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "36a650a4-a79b-447b-82dd-44fde5117503",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        220,
        160
      ],
      "id": "b7253e4a-7da4-49e7-b5c8-0159607be05d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uTsz7TkqIJt7gW5q",
          "name": "Google Gemini Paid API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.json.title }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        160
      ],
      "id": "5588ec5d-3d55-418f-8f44-ba7ef7816ad8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $json.json.title }}\nContent: {{ $json.json.summary }}",
        "options": {
          "systemMessage": "{\n  \"instruction\": \"You are a summary agent specialized in processing news articles to produce neutral, informative summaries and sentiment analysis.\",\n  \"context\": \"You will receive a list of news articles, each containing a title and full content.\",\n  \"input\": \"An array of objects, each with:\\n  • title: string\\n  • content: string\",\n  \"output\": \"Return an array of objects, each with:\\n  • title: the original title\\n  • summary: a concise, precise, and neutral summary of the article’s key points\\n  • sentiment: one of [“Positive”, “Neutral”, “Negative”] reflecting the overall tone of the article\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        240,
        0
      ],
      "id": "56f22981-f808-4203-9c53-56834a20cc23",
      "name": "Summary Analyst I"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Summary Analyst I",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summary Analyst I",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Summary Analyst I",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9f01aa6b-a3d5-406a-91d7-c53b944738a6",
  "meta": {
    "instanceId": "2ae2c89981039340d829937460d45406e20e1fe8706abd573e37b0e7483da8c4"
  },
  "id": "6HHuI8BuITaOU4lo",
  "tags": []
}